body{

    margin: 0;
    background-image: url('../assets/blob-scene2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001524;
    color: white;
    font-family: 'Sriracha', cursive;
}

.content{
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

.h1-holder, .h2-holder{
    display: inline;
}

h1{
    margin-top: 15vw;
    padding-inline: 3rem;
}

h2{
    margin-bottom: 0;
    margin-inline: 1rem;
}

p{
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
}

.link-row{
    display: inline-block;
    margin-bottom: 1rem;
}

#customLink{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 1rem;
}

.copy{
    background-color: transparent;
    border-style: none;
}

.copy:hover{
    cursor: pointer;
}

.copy-img{
    height: 1.5rem;
}

.tip-ph{
    display: none;
}

/* Style the tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #001524;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 11rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 0.2rem;
    padding-top: 1.5rem;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
    background: white;
    color: #001524;
    margin-inline: 0.3rem;
    margin-bottom: 0.3rem;
  }

.button-text {
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

.right-button-text{
    transform: translateX(1.8rem);
}
.left-button-text{
    transform: translateX(-0.6rem);
}

.right-iconer {
  transform: translateX(0.5rem) translateY(0.1rem);
  transition-duration: 0.3s;
  color: transparent;
}
.left-iconer {
  transition-duration: 0.3s;
  transform: rotate(180deg) translateX(-0.7rem) translateY(0.1rem);
  color: transparent;
}

.button:hover{
  cursor: pointer;
}

.button:hover .right-button-text {
  transform: translateX(1.2rem);
}
.button:hover .left-button-text {
  transform: translateX(-0.2rem);
}

.button:hover .right-iconer {
  transform: translateX(0.8rem) translateY(0.1rem);
  color: #001524;
}

.button:hover .left-iconer {
  transform: rotate(180deg) translateX(-0.2rem) translateY(0.1rem);
  color: #001524;
}

@media screen and (max-width: 560px) {

    #customLink{
        display: none;
    }
}

@media screen and (max-width: 470px) {
   
    .h1-holder, .h2-holder{
        display: flex;
        justify-content: center;
    }

    h1,h2{
        margin-inline: 0;
        padding-inline: 0;
        width: 18rem;
    }

    h2{
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .buttons button{
        margin-inline: 5rem;
    }

    .left-iconer, .right-iconer{
        display: none;
    }

    .left-button-text {
        transform: translateX(0rem);
    }

    .right-button-text {
        transform: translateX(1.2rem);
    }

    .tip-comp{
        display: none;
    }

    .tip-ph{
        display: block;
    }

    .button{
        width: 10rem;
    }
}